.home{
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 230px;
    padding-bottom: 230px;
}

.users{
    display: grid;
    max-width: 50%;
    grid-template-columns: 50px 100px 100px;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 10px;
}

.users p{
    margin: 0;
}