.read-one{
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 120px;
}

.form-read-one{
    max-width: 600px;
    margin: auto;
}
.form-read-one .column{
    display: grid;
}

.form-read-one label{ 
    margin-top: 20px;
}

.form-read-one button{
    margin: 30px 20px;
}

.form-read-one svg{
    width: 25px;
    height: auto;
}