@font-face {
    font-family: 'FontAll';
    src: url("./font/Charge\ Vector\ Bold.otf");
}
@font-face {
    font-family: 'FontInput';
    src: url("./font/MAKISUPA.TTF");
}

/***** Dark *****/
div#root.dark{
    background-color: #f8f8f8;
    filter: invert(1);
}
div#root.dark a, div#root.dark span{
    color: white; /* white or black */
}
div#root.dark button, div#root.dark tspan, div#root.dark span, div#root.dark path, div#root.dark #DocumentPDF{
    filter: invert(1); /* 1 or 0 */
}
div#root.dark button.btn path, div#root.dark button.btn path:hover{
    filter: grayscale(1);
    color: black;
}
div#root.dark button.btn, div#root.dark button.btn:hover{
    color: black;
}
div#root.dark .css-jn69v9, div#root.dark .css-honxw6, div#root.dark .sc-lllmON.gMliOo path{
    filter: none;
}

/***** Light *****/
div#root.light{
    background-color: #e5e5e5;
    filter: invert(0);
}
div#root.light a, div#root.light span{
    color: black; /* white or black */
}
div#root.light button, div#root.light tspan, div#root.light span, div#root.light path, div#root.light #DocumentPDF{
    filter: invert(0); /* 1 or 0 */
}
div#root.light button.btn, div#root.light button.btn:hover{
    color: white;
}
div#root.light button.btn.btn-warning, div#root.light button.btn.btn-warning:hover{
    color: black;
}
div#root.light button.btn.btn-success svg{
    filter: invert(1);
}
div#root.light button.btn path, div#root.light button.btn path:hover{
    filter: grayscale(1);
    color: white;
}


/**** Default ****/
html, body, div#root{
    filter: contrast(95%) saturate(115%);
    height: 100%;
}
body{
    font-family: 'FontAll';
    margin: 0;
}
a, span{
    text-decoration: none;
}
input, textarea, .css-1jqq78o-placeholder, .css-1dimb5e-singleValue, .alert{
    font-family: 'FontInput';
}
.alert{
    background-color: white;
}

.react-confirm-alert-overlay{
    background: rgb(0 0 0 / 90%);
}
.react-confirm-alert-body{
    background: #222;
    color: white;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #b3b3b3 #646464;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 10px;
}

*::-webkit-scrollbar-track {
background: #646464;
}

*::-webkit-scrollbar-thumb {
background-color: #b3b3b3;
border: 3px none #ffffff;
}