.dashboard{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: grid;
    padding: 50px;
    margin: auto;
}
.col{
    text-align: center;
    margin: auto;
}
.recharts-responsive-container, .recharts-wrapper{
    margin: auto;
}